*{
    box-sizing: border-box;
    box-sizing: content-box;
}


.box{
    color:white;
    width:33.3%;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.979);
    padding: 10px;
}

.box1 {
    background: rgb(225, 230, 225);
}

.box2 {
    background: yellow;
    padding-bottom: 200px;
    align-self: flex-end;
}
.box3 {
    background:red;
}
.box4 {
    background: rebeccapurple;
}
.box5 {
    background: rgb(103, 181, 218);
}
.box6 {
    background: grey;
    padding-bottom: 200px;
    align-self: flex-end;
}
.box7 {
    background: blue;
}
.box8 {
    background: purple;
}
.box9 {
    background:violet;
    padding-bottom: 200px;
    align-self: flex-start;
}
.box10 {
    background: magenta;
}
.container{
    display: flex;
    border: 10px solid darkblue;
    height: 100vh;
    align-items: flex-start;
}