@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --color-primary:rgba(255, 255, 255, 1);
}

*{
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
}

.container-first {
    background: linear-gradient(94.59deg, #4923B4 2.39%, #E878CF 97.66%);
    border-bottom-right-radius: 12.5rem;
    border: 1px solid var(--color-primary);
    color:var(--color-primary);
}

.navbar {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.outschool {
    width: 146px;
    height: 17px;
}

.menu-1,
.menu-2 {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.menu-1 .item,
.menu-2 .item {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
}

.menu-2 .item img {
    width: 23px;
    height: 23px;
    align-items: center;
}

.data-top {
    padding: 5rem 0rem 7.1rem 8rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.data-left {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex: 1;
}

.content-1 {
    font-weight: 700;
    font-size: 3.75rem;
}

.content-1 #your {
    font-size: 4.375rem;
}

.content-2 {
    font-weight: 400;
    font-size: 1.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-saly {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.img-saly img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .img-saly {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .data-top {
        flex-direction: column;
        padding: 2rem;
    }

}

.buttons {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.button-1,
.button-2 {
    height: 44px;
    font-size: 1rem;
    border-radius: 12px;
}

.button-1 {
    width: 10.75rem;
    background-color: rgba(255, 0, 199, 1);
    color: var(--color-primary);
    font-weight: 600;
    border: none;
}


.button-2 {
    width: 8.75rem;
    background-color: rgba(134, 68, 190, 1);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    font-weight: 500;
}

.container-second {
    padding: 2.7rem;
    background-color: var(--color-primary);
}

.container-second .content {
    font-weight: 600;
    font-size: 40px;
    color: rgba(70, 71, 71, 1);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.container-second .company-logos {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.25rem;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {

    .container-second {
        padding: 1rem;
    }

}


.container-three {
    background-color: var(--color-primary);
    padding: 5rem;
}

.container-three .course-headline {
    font-weight: 600;
    font-size: 2.75rem;
    color: rgba(0, 0, 0, 1);
}

.container-three .menu-bar {
    display: flex;
    gap: 1.875rem;
    padding: 2rem 0rem;
    flex-wrap: wrap;
}

.container-three .link {
    font-weight: 400;
    font-size: 17px;
    color: rgba(120, 120, 120, 1);
    text-decoration: none;
}

.container-three .link:hover {
    text-decoration: underline;
    color: rgba(80, 39, 181, 1);
    font-size: 20px;
    font-weight: 600;
}

.container-three .courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.875rem, 1fr));
    /* IMPORTANT */
    gap: 1.5rem;
}



.container-three .courses .item {
    box-shadow: 0px 0px 9px rgba(153, 153, 151, 0.25);
    border-radius: 1.33rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-three .courses .item .img {
    border-radius: 1.33rem;
}

.container-three .courses .item .img img {
    width: 100%;
}

.container-three .courses .course-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.4rem;
    flex-grow: 1;
}


.container-three .courses .item .course-name-box {
    width: 9.68rem;
    height: 2rem;
    background-color: rgba(234, 234, 234, 1);
    border-radius: 0.43rem;
    font-weight: 500;
    font-size: 12px;
    color: rgba(102, 103, 104, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-three .courses .item .course-name {
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}

.container-three .courses .course-details .details-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    margin-top: auto;
}

.container-three .courses .item .author {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
}


.container-three .courses .item .course-details .ratings .rating-value {
    font-weight: 600;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
}

.container-three .bottom-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-three .courses .item .course-price {
    font-weight: 700;
    font-size: 20px;
    color: rgba(80, 39, 181, 1);
}

.container-three .courses .item .buy-now {
    border: 1px solid rgba(80, 39, 181, 1);
    border-radius: 6px;
    color: rgba(80, 39, 181, 1);
    font-weight: 600;
    font-size: 12px;
    width: 5.5rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:768px) {
    .courses {
        grid-template-columns: 1fr;
    }
}


.container-three .show-more {
    display: flex;
    grid: 0.5rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    color: rgba(80, 39, 181, 1);
    font-weight: 500;
    font-size: 17px;
}


.container-four {
    padding: 2rem;
}

.container-four .four .headline {
    font-weight: 600;
    font-size: 44px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.container-four .four .content-1 {
    font-weight: 400;
    font-size: 16px;
    color: rgba(102, 103, 104, 1);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 50%;
}

.container-four .features {
    padding: 4rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}

.container-four .item {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    padding: 2rem;
}

.container-four .feature-name {
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 1);
}

.container-four .content {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(102, 103, 104, 1);
    text-align: justify;
}

@media screen and (max-width:768px) {
    .container-four .features {
        padding: 1rem;
    }
}


.container-five {
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.container-five .img {
    display: flex;
}

.container-five .img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.container-five .details {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 10rem;
    box-sizing: border-box;
    gap: 1rem;
    text-align: justify;
}

.container-five .headline {
    font-weight: 600;
    font-size: 44px;
    color: rgba(0, 0, 0, 1);
}

.container-five .content {
    font-weight: 400;
    font-size: 20px;
    color: rgba(102, 103, 104, 1);
}

.container-five #button-1 {
    background-color: rgba(172, 133, 255, 1);
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1rem;
}

@media screen and (max-width:768px) {
    .container-five {
        flex-direction: column;
        padding: 1rem;
    }

    .container-five .details {
        padding: 1.5rem;
    }

    .container-five .img,
    .container-five .details {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.container-six {
    display: flex;
    padding: 5rem;
    flex-wrap: wrap;
}

.container-six .img {
    flex: 1;
}

.container-six .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10rem;
    flex: 2;
}

.container-six .headline {
    font-weight: 600;
    font-size: 44px;
    color: rgba(0, 0, 0, 1);
}

.container-six .content {
    font-weight: 400;
    font-size: 20px;
    color: rgba(81, 81, 81, 1);
}

.container-six #button-2 {
    background-color: rgba(82, 40, 182, 1);
}

@media screen and (max-width:768px) {
    .container-six {
        padding: 1rem;
    }

    .container-six .details {
        padding: 1.5rem;
    }
}


.container-seven .bg {
    background-image: url("images/bgimg-news.png");
    background-repeat: no-repeat;
}

.container-seven .bg .header {
    font-weight: 600;
    font-size: 44px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
}

.container-seven .cards .card .img img {
    width: 100%;
    height: auto;
}

.container-seven .cards {
    display: grid;
    flex-wrap: wrap;
    padding-left: 11rem;
    padding-right: 11rem;
    padding-top: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.container-seven .card {
    border-radius: 1.33rem;
    box-shadow: 0px 0px 9px rgba(153, 153, 151, 0.25);
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33% - 2rem);
    width: 100%;
}

@media screen and (max-width:768px) {
    .container-seven .bg .header {
        padding: 1rem;
    }

    .container-seven .cards {
        padding-left: 5rem;
        padding-right: 5rem;
        flex-direction: column;
    }

    .container-seven .card {
        flex: 1 1 100%;
    }
}


.container-seven .details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-seven .details .name {
    font-weight: 500;
    font-size: 14px;
    color: rgba(120, 120, 120, 1);
    display: flex;
    gap: 0.5rem;
}

.container-seven .details .text {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 1rem;
}

.container-seven .bottom {
    display: flex;
    justify-content: space-between;
}

.container-seven .bottom .date,
.container-seven .bottom .readmore {
    display: flex;
    gap: 0.4rem;
}

.container-seven .bottom .date {
    color: rgba(136, 136, 136, 1);
    font-weight: 500;
    font-size: 14px;
}

.container-seven .details .bottom .readmore {
    color: rgba(82, 40, 182, 1);
    font-weight: 600;
    font-size: 14px;
}


.container-eight {
    display: flex;
    padding: 5rem;
    flex-wrap: wrap;
}

.container-eight .img {
    flex: 1.5;
}

.container-eight .details {
    display: flex;
    flex-direction: column;
    padding: 9rem;
    gap: 2rem;
    flex: 1.5;
}

.container-eight .details .headline {
    font-weight: 500;
    font-size: 35px;
    color: rgba(82, 40, 182, 1);

}

.container-eight .details .content {
    font-weight: 400;
    font-size: 16px;
    color: rgba(102, 103, 104, 1);
}

.container-eight .box {
    display: flex;
    font-weight: 500;
    font-size: 13px;
    padding-left: 0.5rem;
    color: rgba(82, 40, 182, 1);
    box-shadow: 0px 0px 9px rgba(153, 153, 151, 0.25);
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
}

.container-eight #button-1 {
    background-color: rgba(82, 40, 182, 1);
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .container-eight {
        padding: 1rem;
    }

    .container-eight .details {
        padding: 1rem;
    }

}

.container-nine {
    background-color: rgba(27, 27, 27, 1);
    color: var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;

}

.container-nine .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    padding: 5rem;
}

.container-nine .left img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.container-nine .left .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.container-nine .right {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.container-nine .right li {
    list-style-type: none;
}


.container-nine .right .header {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 0.5rem;
}

.container-nine .general {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex: 1;
}

.container-nine .policies {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-nine .getintouch {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.container-nine .items,
.container-nine .getintouch .content {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 15px;
}

.container-nine .items ul {
    margin: 0;
    padding: 0;
}



.container-nine .right .logos {
    display: flex;
    gap: 0.7rem;
    padding-top: 0.5rem;
}

.page-bottom {
    background-color: rgba(27, 27, 27, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    color: rgba(189, 185, 185, 1);
    padding: 2rem;

}
